/*variables*/
:root {
  --color-blue: hsl(246, 80%, 60%);
  --color-orange: hsl(15, 100%, 70%);
  --color-light-blue: hsl(195, 74%, 62%);
  --color-red: hsl(348, 100%, 68%);
  --color-green: hsl(145, 58%, 55%);
  --color-violet: hsl(264, 64%, 52%);
  --color-yellow: hsl(43, 84%, 65%);

  --color-very-dark-blue: hsl(226, 43%, 10%);
  --color-dark-blue: hsl(235, 46%, 20%);
  --color-desaturated-blue: hsl(235, 45%, 61%);
  --color-pale-blue: hsl(236, 100%, 87%);

  --color-dark-blue-opacity: hsl(236, 41%, 34%);
}
/*normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*root*/
html {
  font-size: 62.5%;
}
/*container page*/
body {
  min-height: 100vh;

  background-color: var(--color-very-dark-blue);

  color: #ffffff;
  font-family: "Rubik", sans-serif;
}
/*main page*/
.main-page {
  padding: 5rem 0;
}
/*component*/
.tracking-dashboard {
  display: flex;
  justify-content: center;
}
/*usuario section*/
.tracking-dashboard__user-box {
  background-color: var(--color-dark-blue);

  display: flex;
  flex-direction: column;
  flex: 0 0 30rem;

  margin-right: 3rem;

  border-radius: 2rem;
}
/*info user block*/
.info-user {
  background-color: var(--color-blue);

  max-width: 100%;

  padding: 3rem;
  padding-bottom: 10rem;

  border-radius: 2rem;
}
.info-user__image-box {
  width: 9rem;

  margin-bottom: 5rem;
}
.info-user__image {
  display: block;
  width: 100%;

  border-radius: 50%;
  border: 3px solid #ffffff;
}
.info-user__text {
  color: var(--color-pale-blue);
  font-weight: 300;
  font-size: 1.8rem;
}
.info-user__name {
  font-weight: 300;
  font-size: 4.6rem;

  margin-top: 0.5rem;
}
/*time change block*/
.time-change {
  padding: 3rem;
}
.time-change__list {
  list-style: none;
}
.time-change__option {
  color: var(--color-pale-blue);
  font-weight: 400;
}
.time-change__option:nth-child(2) {
  color: #ffffff;
}
.time-change__option--margin {
  margin-bottom: 2rem;
}
.time-change__change-time {
  padding-right: 2rem;

  color: inherit;
  font-size: 1.8rem;

  background-color: transparent;
  border: none;

  transition-duration: 0.5s;
}
.time-change__change-time:hover {
  color: #ffffff;
  transform: scale(1.1);
}
/*time tracking section*/
.tracking-dashboard__tracking-box {
  max-width: 100rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-gap: 3rem;
}
/*time tracking block*/
.time-tracking {
  background-repeat: no-repeat;
  background-size: 6.5rem;
  background-position: top -0.8rem right 1.5rem;

  padding-top: 4rem;

  border-radius: 2rem;
}
.time-tracking:nth-child(1) {
  background-color: var(--color-orange);
  background-image: url(../images/icon-work.svg);
}
.time-tracking:nth-child(2) {
  background-color: var(--color-light-blue);
  background-image: url(../images/icon-play.svg);
  background-position: top -0.4rem right 2rem;
}
.time-tracking:nth-child(3) {
  background-color: var(--color-red);
  background-image: url(../images/icon-study.svg);
}
.time-tracking:nth-child(4) {
  background-color: var(--color-green);
  background-image: url(../images/icon-exercise.svg);
  background-position: top -0.2rem right 2rem;
}
.time-tracking:nth-child(5) {
  background-color: var(--color-violet);
  background-image: url(../images/icon-social.svg);
  background-position: top 0rem right 2rem;
}
.time-tracking:nth-child(6) {
  background-color: var(--color-yellow);
  background-image: url(../images/icon-self-care.svg);
}
.time-tracking__content {
  background-color: var(--color-dark-blue);
  height: 100%;

  padding: 3rem;

  border-radius: 2rem;
}
.time-tracking__content:hover {
  background-color: var(--color-dark-blue-opacity);
}
/*cell theme block*/
.cell-theme {
  margin-bottom: 3.5rem;
}
.cell-theme__text {
  display: inline;
  font-size: 1.8rem;
  font-weight: 500;
}
.cell-theme__change {
  background-color: transparent;
  float: right;

  position: relative;
  top: 0.4rem;

  padding: 0.5rem;

  border: none;

  transition-duration: 0.5s;
}
.cell-theme__image {
  display: block;
  width: 2rem;
}
.cell-theme__change:hover {
  transform: scale(1.2);
}
.time-tracking__time {
  font-size: 6.2rem;
  font-weight: 300;

  margin-bottom: 1rem;

  transition-duration: 0.5s;
}
.time-tracking__time:hover {
  transform: scale(1.1);
}
.time-tracking__text {
  color: var(--color-pale-blue);
  font-size: 1.6rem;

  margin-bottom: 1rem;
}
/*animation*/
.time-tracking__time--animation {
  animation-name: hiddenAndShow;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes hiddenAndShow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1500px) {
  /*main page*/
  .main-page {
    padding: 0;

    position: relative;
    top: 50vh;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 52%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 44.5%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  /*main page*/
  .main-page {
    top: 0;
    transform: translateY(0);
  }
  /*component*/
  .tracking-dashboard {
    flex-direction: column;

    padding: 16rem 6rem;
  }
  /*usuario section*/
  .tracking-dashboard__user-box {
    flex: 0 1 none;
    width: 100%;

    margin-right: 0;
    margin-bottom: 4rem;
  }
  /*info user block*/
  .info-user {
    position: relative;

    padding: 6rem 5rem;
  }
  .info-user__image-box {
    width: 14rem;
    height: 100%;

    display: inline-block;

    margin: 0;
    margin-right: 4rem;
  }
  .info-user__text-box {
    display: inline-block;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .info-user__text {
    font-size: 2.8rem;
  }
  .info-user__name {
    font-size: 4.8rem;
  }
  /*time change block*/
  .time-change {
    padding: 4rem;
  }
  .time-change__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .time-change__option--margin {
    margin-bottom: 0;
  }
  .time-change__change-time {
    font-size: 2.8rem;
  }
  /*time tracking section*/
  .tracking-dashboard__tracking-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  /*time tracking block*/
  .time-tracking--margin-row {
    margin-bottom: 0rem;
  }
  .time-tracking--margin-column {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .time-tracking {
    background-size: 11rem;
    background-position: top -0.8rem right 2.5rem;

    width: 100%;

    margin-bottom: 4rem;

    padding-top: 6rem;
  }
  .time-tracking__content {
    padding: 5rem 4rem;
  }
  .time-tracking__time-box {
    position: relative;
  }
  .time-tracking__time {
    display: inline-block;

    font-size: 6.8rem;

    margin: 0;
  }
  .time-tracking__text {
    display: inline-block;

    font-size: 2.2rem;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    margin: 0;
  }
  /*cell theme block*/
  .cell-theme {
    margin-bottom: 1rem;
  }
  .cell-theme__text {
    font-size: 3.2rem;
    font-weight: 400;
  }
  .cell-theme__image {
    width: 3rem;
  }
}
/*Change mobile*/
@media screen and (max-width: 670px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 53%;
  }
}
@media screen and (max-width: 570px) {
  html {
    font-size: 47%;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 426px) {
  html {
    font-size: 35%;
  }
}
@media screen and (max-width: 376px) {
  html {
    font-size: 32%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 30%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 27%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 23%;
  }
}
